extends layout

block content
  p Welcome to #{title}


  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:
    ul
          li #[strong Game count:] !{data.game_count}
          li #[strong Genre count:] !{data.genre_count}